@model ProductViewModel

@{
    ViewData["Title"] = "Products";
}


<h1>@ViewData["Title"]</h1>
<form asp-controller="Product" asp-action="Create" method="get">
    <p>
        <input type="submit" class="btn btn-primary" value="Create new product" />
    </p>
</form>
<form asp-controller="Product" asp-action="Index" method="get">
        <div class="col-md-8 form-group">
            <div style="display: flex;">
                <div style="padding: 0 1rem 0 0">
                <select asp-for="SelectedCategory" asp-items="Model.Categories" class="form-control"></select>
                </div>
                <div style="padding: 0 1rem 0 0">
                <input type="text" name="productName" class="form-control" placeholder="Enter product name" />
                </div>
                <div style="padding: 0 1rem 0 0">
                <input type="submit" value="search" class="btn btn-primary form-control" />
                </div>
            </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th> @Html.DisplayNameFor(model => model.Name) </th>
            <th> @Html.DisplayNameFor(model => model.Price) </th>
            <th> @Html.DisplayNameFor(model => model.OrderDate) </th>
            <th> @Html.DisplayNameFor(model => model.Category) </th>
            <th> @Html.DisplayNameFor(model => model.Shelf) </th>
            <th> @Html.DisplayNameFor(model => model.Count) </th>
            <th> @Html.DisplayNameFor(model => model.Description) </th>
            <th></th>
        </tr>
    </thead>
    <tbody> @foreach (var item in Model.Products!) { <tr>
            <td> @Html.DisplayFor(modelItem => item.Name) </td>
            <td> @Html.DisplayFor(modelItem => item.Price) </td>
            <td> @Html.DisplayFor(modelItem => item.OrderDate) </td>
            <td> @Html.DisplayFor(modelItem => item.Category) </td>
            <td> @Html.DisplayFor(modelItem => item.Shelf) </td>
            <td> @Html.DisplayFor(modelItem => item.Count) </td>
            <td> @Html.DisplayFor(modelItem => item.Description) </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> | <a asp-action="Details" asp-route-id="@item.ID">Details</a> | <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr> } </tbody>
</table>